*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.section1{
    width: 100%;
    height: 550px;
    background-color: rgb(3, 3, 48);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.sectin1 img{
    width:350px;
}
.section1 h1{
    font-size: 60px;
    
}
.par{
    margin-top: 150px;
}