* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    width: 90%;
    background-color: skyblue;
    margin: 30px auto;
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(4,1fr);
    
}
.card{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    height: 250px;
}
.card:nth-child(1){
    grid-column: 1 /span 2;
    background-color: indigo;
    color: white;
}
.card:nth-child(5){
    grid-column: 2 / span 2;
    background-color: rebeccapurple;
}
.card:nth-child(3){
    grid-row: 1 / span 2;
    grid-column: 4 /span1;
    height: 100%;
    width: 300px;
    background-color:seagreen;
    color: white;
}
.card img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.hh{
    display: flex;
}
.hh h3{
    font-size:12px;
    margin-left:10px;
    margin-top:5px;
}
.hh .kh{
    display: grid;
}

.card .text{
    margin-top: 20px;
}
 p{
font-size: 15px;
color: darkgray;
}
.txt{
    margin-top:10px;
    

}
.kft{
    margin-left:10px;
    color: rgba(0, 0, 0, 0.664);
}
.kft1{
    margin-left: 10px;
    color: whitesmoke;
}



