* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container5 {
    width: 70%;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    height: 550px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 50px;
    margin-top: 1px;
}

.card:nth-child(1) {
    grid-column: 1 /span 5;
    background-color: gainsboro;
}

.card:nth-child(2) {
    grid-row: 2 /span 2;
    height: 100%;
    background-color: gainsboro;

}

.card:nth-child(3) {
    grid-row: 2 /span 2;
    grid-column: 2 /span 2;
    height: 100%;
    background-color: whitesmoke;
    
}

.card:nth-child(4) {
    grid-row: 2 /span 2;
    grid-column: 4 /span 2;
    height: 100%;
    background-color:whitesmoke;
}

.card:nth-child(5) {
    grid-row: 4 /span 2;
    height: 100%;
    background-color: gainsboro;
 }
.card:nth-child(6){
    grid-row: 4 /span 2;
    grid-column:2 /span 2;
    height: 100%;
    background-color: whitesmoke;
    
}
.card:nth-child(7){
    grid-row: 4 /span 2;
    grid-column: 4 /span 2;
    height: 100%; 
    background-color: whitesmoke;
       

}
.card:nth-child(8){
    grid-row: 6 /span 2;
    height: 100%;
    background-color: gainsboro;

}
.card:nth-child(9){
    grid-row: 6 /span 2;
    grid-column: 2 /span 2;
    height: 100%;
    background-color: whitesmoke;
}

.card:nth-child(10){
    grid-row: 6 /span 2;
    grid-column: 4 /span 2;
    height: 100%;
    background-color: whitesmoke;

}
.card:nth-child(11){
    grid-row: 8/span 2;
    height: 100%;
    background-color: gainsboro;
}

.card:nth-child(12){
    grid-row: 8 /span 2;
    grid-column: 2 /span 2;
    height: 100%;
    background-color: whitesmoke;

}

.card:nth-child(13){
    grid-row: 8 /span 2;
    grid-column: 4 /span 2;
    height: 100%;
    background-color: whitesmoke;
}
.elem{
    display: flex;
    justify-content: space-around;
}
.card p{
    font-size: 18px;
    color:rgba(0, 0, 0, 0.842);
    display: grid;
    align-items: center;
}